!
! template: bgpd/templates/msft.dynamic/tor.rotterdam/policies.conf.j2
!
ip prefix-list IPV4_32_ONLY seq 5 permit 0.0.0.0/0 ge 32
!
{% if resource_type == 'SIRIUSAPPLIANCE' %}
ipv6 prefix-list IPV6_128_ONLY seq 5 permit ::/0 ge 128
{% else %}
ipv6 prefix-list IPV6_64_ONLY seq 5 permit ::/0 ge 64 le 64
{% endif %}
!
route-map FROM_SDN_APPLIANCE_V4 permit 100
  match ip address prefix-list IPV4_32_ONLY
!
route-map FROM_SDN_APPLIANCE_V4 deny 1000
!
route-map FROM_SDN_APPLIANCE_V6 permit 100
{% if resource_type == 'SIRIUSAPPLIANCE' %}
  match ipv6 address prefix-list IPV6_128_ONLY
{% else %}
  match ipv6 address prefix-list IPV6_64_ONLY
{% endif %}
!
route-map FROM_SDN_APPLIANCE_V6 deny 1000
!
route-map TO_SDN_APPLIANCE_V4 deny 100
!
route-map TO_SDN_APPLIANCE_V6 deny 100
!
! end of template: bgpd/templates/msft.dynamic/tor.rotterdam/policies.conf.j2
!
