# This assumes that the host has been joined to the example.com domain.
# To validate the users.allow file, run:
#  vastool info acl 
#  vastool list users-allowed

# For user and group entries:
#  If DOMAIN is omitted ( simple name given )it is assumed to be the joined domain.
#  Entries are case insensitive.
#  DOMAIN can be either long(fqdn) or short(netbios).

# Allow john, steve, and bob to log in. User names may be entered as user
# principal names (UPN) for backward compatibility, but the DOMAIN\SamAccountName
# format is preferred.
#john@example.com
#EXAMPLE\Steve
#Bob

# Allow members of the following groups to login
# Groups may be specified using their Unix Name for backward compatibility 
# but the DOMAIN\SamAccountName format is preferred.
{% for netgroup in rw_netgroups %}
{{ad_domain}}\{{netgroup}}
{% endfor %}
{% if DEVICE_METADATA and DEVICE_METADATA['localhost'].has_key('deployment_id') %}
{% set deployment_id = DEVICE_METADATA['localhost']['deployment_id'] %}
{% endif %}
{% if deployment_id | int == 1 or deployment_id | int == 3 %}
{% for netgroup in rw_netgroups_ap %}
{{ad_domain}}\{{netgroup}}
{% endfor %}
{% endif %}
{% if deployment_id | int == 2 or deployment_id | int == 4 %}
{% for netgroup in rw_netgroups_az %}
{{ad_domain}}\{{netgroup}}
{% endfor %}
{% endif %}
{% for netgroup in ro_netgroups %}
{{ad_domain}}\{{netgroup}}
{% endfor %}

# Allow users that are in or in a sub-container of the engineering OU.
#ou=engineering,dc=example,dc=com

# Allow all members of the example.com realm (domain) to log in.
#@example.com
